.header {
  height: 80px;
  color: $white;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 80px;
    height: 49px;
    img {
      width: 100%;
    }
  }
  .nav {
    display: flex;
    li {
      margin-left: 64px;
    }
    a {
      color: $white;
    }
  }
  @include pad {
    justify-content: space-between;
    padding: 0 36px;
  }
  @include mb {
    padding: 0 36px;
  }
}
