$white: #ffffff;
$gray-400: #dee2e6;
$gray-700: #707070;
$black: #000000;
$black-op2: #00000029;
$red-800: #650300;
$red-500: #aa0601;
$red-100: #fbf2f2;
.bg-red {
  background-color: $red-500;
}
.white{
  color: $white;
}