//margin, padding, container
//1920 - 312＊2 = 1296
.d-flex {
  display: flex;
}
.container {
  max-width: 1296px;
  margin: auto;
}
.mr-22{
  margin-right: 22px;
}
.mr-32{
  margin-right: 32px;
}
.mr-48{
  margin-right: 48px;
}