<header class="bg-red">
  <div class="container header d-flex">
    <h1 class="logo">
      <a href="/">
        <img src="./assets/images/logo-white.png" alt="logo">
      </a>
    </h1>
    <a href="#" class="ham-icon white">
      <span class="material-symbols-outlined">
        menu
        </span>
    </a>
    <ul class="nav r-20-30 dropdown">
      <li><a href="#">系列鏡框</a></li>
      <li><a href="#">門市據點</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="./faq.html">常見問題</a></li>
    </ul>
  </div>
</header>
