.mb-8{
  margin-bottom: 8px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-24{
  margin-bottom: 24px;
}
.mb-48{
  margin-bottom: 48px;
}
.mb-72{
  margin-bottom: 72px;
}
//margin-right
.mr-22{
  margin-right: 22px;
}
.mr-32{
  margin-right: 32px;
}
.mr-48{
  margin-right: 48px;
}