.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
  @include pad {
    margin-bottom: 24px;
  }
}
.mb-46 {
  margin-bottom: 46px;
  @include mb {
    margin-bottom: 24px;
  }
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-72 {
  margin-bottom: 72px;
}
.mb-80 {
  margin-bottom: 80px;
  @include mb {
    margin-bottom: 64px;
  }
}
//margin-right
.mr-11 {
  margin-right: 11px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-22 {
  margin-right: 22px;
  @include mb {
    margin-right: 8px;
  }
}
.mr-32 {
  margin-right: 32px;
}
.mr-48 {
  margin-right: 48px;
}
//mt
.mt-96 {
  margin-top: 96px;
  @include pad {
    margin-top: 80px;
  }
  @include mb {
    margin-top: 40px;
  }
}
